@use 'index' as *;

.button{
    background: transparent;
    border-radius: 999px;
    border: 1px solid;
    padding: 13px 24px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: rem(18);
    border-color: $color-base;
    color: $color-base;
    text-decoration: none;
}