@use 'index' as *;

.about-me {
  background: $color-gradient-black;

  &__inner {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: fluid(24, 96);
    padding-bottom: fluid(24, 96);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: fluid(24, 96);

    @include respond-to(tablet, max) {
      flex-direction: column;
    }
  }

  &__image {
    flex-shrink: 0;
    width: fluid(240, 526);
    border-radius: fluid(16, 30);
    object-fit: cover;

    @include respond-to(tablet, max) {
      width: fluid(300, 440);
    }
  }

  &__title {
    font-family: 'Fira Code';
    font-weight: 700;
    color: $color-accent;
    font-size: fluid(32, 64);
    margin: fluid(8, 16) 0px fluid(12, 24) fluid(16, 32);
  }

  &__intro {
    font-family: 'Karla';
    font-weight: 400;
    color: $color-base;
    font-size: fluid(16, 18);
    line-height: 120%;
    text-align: justify;
    margin: 0px fluid(16, 32) fluid(16, 32) fluid(16, 32);
  }

  &__list {
    list-style: none;
    margin: 0px fluid(20, 48) fluid(16, 32) fluid(10, 21);
    display: flex;
    flex-direction: column;
    gap: fluid(10, 16);
    padding-inline-start: 0px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: fluid(12, 24);
  }

  &__icon {
    flex-shrink: 0;
  }

  &__text {
    font-family: 'Karla';
    font-weight: 400;
    color: $color-base80;
    font-size: fluid(16, 18);
    line-height: 120%;
  }
}

app-card {
  width: 100%;
  max-width: fluid(280, 540);
  align-self: flex-start;
  margin-top: fluid(60, 200);

  @include respond-to(tablet, max) {
    align-self: center;
    margin-top: fluid(24, 40);
  }
}
