$color-gradient-black: #1c1c1c;
$color-gradient-green: #08463b;
$gradient-hero: linear-gradient(55.22deg, $color-gradient-black 36.26%, $color-gradient-green 93.28%);
$gradient-skill-set: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba($color-gradient-green, 0.3) 0%, $color-gradient-black 100%);
$color-accent: #3dcfb6;
$color-accent10: rgba($color-accent, 0.1);
$color-accent30: rgba($color-accent, 0.3);
$color-accent70: rgba($color-accent, 0.7);
$color-base: #ffffff;
$color-base80: rgba($color-base, 0.8);
$color-hero: #d9d9d9;
$color-error80: #ec7979cc;
$color-error60: #ec797999;

$breakpoints: (
  widescreen: 1441px,
);