@use 'index' as *;

.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: fluid(16, 24);
  width: fluid(260, 450);
  height: fluid(220, 240);
  padding: fluid(24, 40);
  background: $color-accent30;
  border-radius: rem(16);
  border: rem(1) solid $color-accent;
  transition:
    background-color 0.5s ease,
    border-color 0.5s ease;

  @include respond-to(bp558, max) {
    width: calc(100vw - #{rem(48)});
    height: rem(300);
  }

  &--dimmed {
    background: rgba($color-accent, 0.08);
    border-color: rgba($color-accent, 0.15);
  }

  &__text {
    display: flex;
    align-items: center;
    flex: 1;
    font-family: 'Karla';
    font-weight: 400;
    color: $color-base;
    font-size: fluid(16, 18);
    line-height: 120%;
  }

  &__author {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    column-gap: fluid(12, 16);
  }

  &__line {
    height: rem(1);
    margin-top: rem(9);
    background: $color-base80;
  }

  &__name {
    font-family: 'Karla';
    font-weight: 400;
    color: $color-base;
    font-size: rem(16);
    text-align: right;
  }
}
